
<HTML>

<HEAD>

<TITLE>Django html page </TITLE>

</HEAD>

<BODY BGCOLOR="9FE2BF">





<CENTER><H1> Green earth </H1></CENTER>



<P> 
<CENTER>
Green earth, also known as terre verte and Verona green, 
is an inorganic pigment derived from the minerals celadonite and glauconite.
 Its chemical formula is K[(Al,Fe3+),(Fe2+,Mg)](AlSi3,Si4)O10(OH)2.

First used by the ancient Romans, green earth has been identified 
on wall paintings at Pompeii and Dura-Europos.
 The Renaissance painter and writer Cennino Cennini claimed that
 “the ancients never gilded except with this green” being used as a bole, 
 or undercoating. In the Middle Ages one of its best-known uses was in the underpainting of flesh tones.

Green earths have been rather confusingly referred to as "verda terra" or "terra verde di Verona", 
which scholars have assumed incorrectly referred to Veronese green, which is actually an emerald
 green pigment much used in the 18th century. SEM/EDAXS data have demonstrated that it is possible 
 to discriminate between these two sources of celadonite in Roman wall paintings through the presence of trace elements.
 Spectroscopically, therefore, the analytical challenge is to differentiate between the green earths celadonite and glauconite, 
 and perhaps chlorite, and the copper-containing malachite and verdigris, with the added ability to recognize the presence of
 haematite, Egyptian blue, calcite, dolomite, and carbon which have been added to change the colour tones.
</CENTER>
</p>

</BODY>

</HTML>